.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
.cabecera{
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    height: 60px;
    width: 100%;
    background: #fafbfc;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.cabecera-title{
    font: 20px var(--arial);
    color: white;
    text-transform: uppercase;
    display: block;
    letter-spacing: normal;
    white-space: nowrap;
    margin-left: 40px;
    text-shadow: 0 2px 1px #005158;
    letter-spacing: 4px;
}
.mobile .cabecera-title{
    margin-left: 8px;
}
.layout{
    flex: 1;
    display: flex;
    z-index: 3;
    position: relative;
}
.layout-title{
    margin-right: auto;
    font: 20px var(--arial);
    display: inline-flex;
    color: var(--primary);
    text-shadow: 0 1px 0 var(--terciary);
    text-transform: uppercase;
}
.mais--is-collapsed .sidebar{
    min-width: 60px;
    flex: 0 0 60px;
}
.sidebar{
    background-color: rgb(255, 129, 0);
    background-position: bottom left;
    flex-direction: column;
    display: flex;
    z-index: 2;
    overflow: hidden;    
    transition: all .2s ease;
    min-width: 180px;
    flex: 0 0 180px;
    width: 180px;   
}
.sidebar-li-text{
    font: 14px var(--swiss);
    color: var(--terciary);
    
}
.mais--is-collapsed .sidebar-li-text{
    display: none
}
.sidebar-button{
    padding: 10px;
    margin-top: 15px;
}
.button--is-sidebar{
    width: 100% !important;
    max-width: 100% !important
}
.layout-content{    
    z-index: 2;
    flex: 1;
    flex-direction: column;
    display: flex;
    padding: 20px;
    background-image: linear-gradient(transparent 0px, transparent 1.25208px, #effeff 1.25208px, #effeff 12.5208px), linear-gradient(to right, #e1e1e1 0px, #e1e1e1 1.25208px, #effeff 1.25208px, #effeff 12.5208px);
    background-position: 104.413px 20.4375px;
    background-size: 12.5208px 12.5208px;
    background-color: #fff;
    padding-top: 80px;
}
.cabecera-logo{
    width: 50px;
}
.mobile .cabecera-logo{
    width:  35px;
    max-width:  50px;
}
.cabecera-right{
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    height: 60px;
    background: var(--primary);
}
.mais--is-collapsed .cabecera-left{
    width: 60px
}

.cabecera-left{
    padding: 0 10px;
    height: 60px;
    width: 180px;
    display: flex;
    align-items: center;
    transition: width .2s;
    position: relative;
    background: linear-gradient(#bc6308, #ffa549);
    background: var(--primary);
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-black) 100%);
}
.mobile .cabecera-left{
    padding: 0 5px;
    max-width:  80px;
}
.perfil-foto{
    width: 50px;
    min-width: 50px;
    border-radius: 50%;
    height: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #ffffff;
}
.perfil:hover .perfil-nombre{
    color:  #fff;
}
.perfil .material-icons{color: white}
.perfil:hover{
    background-position: right center;
    color:  #fff;
}
.perfil{
    transition: all 0.5s ease;
    background-size: 150% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(to right, var(--secondary) 0%, var(--secondary-black) 51%,var(--secondary-black) 100%);
    padding: 0 15px;
    border-left: 1px solid #fff;
    box-shadow: -1px 0px 0px #e0e0e0;
    margin-left: auto;
    cursor: pointer;
    position: relative;
}
.mobile .perfil{
    padding: 0 5px;
}
.perfil-nombre{
    padding-left: 15px;
    font: 16px var(--arial);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Profile */
.header-notification-moredetails{
    display: block;
    font: 10px var(--lucida);
    color: var(--grey);
    padding-bottom: 2px;
}
.header-notification:after,
.header-profile:after{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 8px solid white;
    position: absolute;
    top: -8px;
    right: 21px;
}
.header-notification,
.header-profile{
    position: absolute;
    top: 55px;
    right: 10px;
    transition: all .6s ease;
    opacity: 0;
    transform: rotateY(180deg);
    z-index: -1;
    visibility: hidden;
    box-shadow: 1px 1px 4px #9d9d9d;
    border-radius: 6px;
    min-width: 250px;
}
.header-notification--is-open,
.header-profile--is-open{
    opacity: 1;
    transform: rotateY(360deg);
    z-index: 9;
    visibility: visible
}
.header-notification-li:last-child,
.header-profile-li:last-child{
    border-bottom: none;
}
.header-notification-li a,
.header-profile-li a{
    color: var(--terciary);
    font: 13px var(--swiss)
}
.header-notification-li:hover a,
.header-profile-li:hover a{
    color: var(--secondary)
}
.header-profile-li:hover .header-profile-li--is-icon{
    color:  var(--secondary) !important
}
.header-profile-li--is-icon{
    margin-right: 10px;
    color: var(--terciary) !important;
}
.header-profile-li a{
    display: flex;  
    align-content:  center;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;

}
.header-notification-li,
.header-profile-li{
    padding: 10px 15px;
    border-bottom: 1px solid #f3f3f3;
}
.header-notification-ul,
.header-profile-ul{
    background-color: #fff;
    padding: 3px;
    box-shadow: 0 0 2px #cecece;
    border-radius: 9px;
}
.sidebar-ul{
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.95), #008c99de);
    padding: 10px 0;
    padding-top: 0;
    color: var(--primary);
    padding-top: 60px;
    position: fixed;
    max-width: 180px;
}
.sidebar-li.sidebar-li--is-active,
.sidebar-li:hover:not(.sidebar-li--is-active){
    background-color: #ffffff;
    color: var(--primary);
    box-shadow: inset 5px 0px 0 var(--primary);
}
.sidebar-li:hover>.material-icons{
    color: var(--primary);
}
.sidebar-li>.material-icons{
    margin-right: 10px;
    color: var(--primary);
}
.mais--is-collapsed .sidebar-li>.material-icons{
    margin-right: 0 !important;
}
.sidebar-li{
    cursor: pointer;
    padding: 18px 10px;
    transition: all .2s ease;
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ffffff7d;
    box-shadow: 0 1px 0 #00b7c826;
    background: #ffffff36;
}
.mais--is-collapsed .sidebar{
    background-image: none !important;
}
.mais--is-collapsed .sidebar,
.mais--is-collapsed .sidebar-ul{
    max-width: 60px
}
.mais--is-collapsed .sidebar-li{
    text-align: center;
    justify-content: center;
}
.box-content-center{
    width: auto;
    display: inline-flex;
    min-width: auto;
    justify-content: center;
}
.box-content{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
    border-radius: 7px;
    background-color: #fff;
    padding: 15px;
    position: relative;
}
.title-primary{
    font: 19px var(--arial);
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: -1px;
}
.titles-content{
    margin-bottom: 10px;
}
.box-content{
    font-family: var(--swiss)
}
.cabecera-icons{
    margin-left: auto;
    display: inline-flex;
    width: 100%;
    flex-direction: row-reverse;
    padding-right: 20px;
    position: relative;
}
.tabs-content~.box-content{
    border-top-left-radius: 0  !important;
}
.tabs-content{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
}
.tabs-button:not(.tabs-button--is-active):hover{
    background: #c4c4c4;
    cursor: pointer;
}
.tabs-button{
    padding: 10px 20px;
    background-color: #ddd;
    font: 14px var(--swiss);
    text-transform: uppercase;
    box-shadow: -1px 0px 0px #d0d0d0, -2px 0px 0px #ececec;
    color: var(--terciary);
    letter-spacing: 0px
}
.tabs-button:last-child{
    border-top-right-radius: 5px;
}
.tabs-button:first-child{
    border-top-left-radius: 5px;
}
.tabs-button--is-active{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 2px solid #00b7c8;
    color: var(--primary);
    background: #fff;
    position: relative;
    top: -10px;
    box-shadow: 0 11px 0 #fff;
}
.header-menu {
    position: absolute;
    margin-top: 82px;
    background-color: #ececec;
    display: none;
}
.bienvenido-section hr{
    border:1px dotted var(--primary);
}
.bienvenido-nota {
    margin-bottom: 20px;
    color: #f70303;
}
.required,
.important{
    color: var(--error);
    font: 12px var(--arial);
    padding-left: 2px;
    padding-right: 3px;
    position: relative;
    top: -3px;
}

.logo-informa{
    max-width: 100px;
    height: auto;
    margin-left: 30px;
}




@media screen and (max-width: 768px){
    .mobile .logo-informa{
        margin-left: 30px;
    }       
    .layout{
        display: block;
    }
    .inbox-body {
        overflow: auto;
    }
    .inbox-body--is-message{
        margin-top: 0;
    }
    .sidebar {
        position: relative;  
        width: 100%;
    }
    .mobile .sidebar-ul{
        display: none
    }
    .mais--is-slidedown .sidebar-ul{
        display: block !important;
        width: 100%;
        position: relative;
        max-width: 100%;
    }
    .sidebar-ul{
        height: auto !important;
        padding-bottom: 0 !important;
    }
    h1{
        font-size: 24px!important;
    }

    .sidebar-ul li {
        font-size: 18px;
    }
    .layout-content{
        padding-top: 80px;
    }
    .mais--is-slidedown .layout-content{
        padding-top: 20px;
    }
    .inbox-header{
        display: block;
    }
    .layout-title{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .inbox-header-renove,
    .inbox-header-button{
        margin-bottom: 10px;
        margin-left: 0;
    }
    .inbox-header-button p{
        margin-top: 5px;
        font-size: 16px;
    }
    .tabs-content {
      overflow:scroll;
    }
}


@media screen and (max-width: 400px){
     .mobile .logo-informa{
        margin-left: 7px;
    }   
}