:root{
    --jne: #a00;
    --primary: #00B7C8;
    --primary-black: #0094a1;
    --secondary: #FFA549;
    --secondary-black: #cc6f0f ;
    --terciary: #555;
    --cuaterciary: #ffead4;
    --grey:#C4C4C4;
    --error:#ff0909;
    --success:#44ca8d;
    --info:#dbae5b;
    --skyblue:#f6f9fa;
    --layout-maximo: 1200px;
    --lucida: 'Lucida';
    --arial: 'ArialRounded';
    --swiss: 'Swiss';
    
}
p{
    font-family: var(--swiss)
}
.link:hover{
    color: var(--secondary);
}
.link{
    font-family: var(--lucida);
    color: var(--primary);
    cursor:pointer;
}

.color-terciary{
    color: var(--terciary)
}
.color-primary{
    color: var(--primary)
}
.color-secondary{
    color: var(--secondary)
}
.color-jne{
    color: var(--jne)
}

.font-lucida{
    font-family: var(--lucida)
}
.font-arial{
    font-family: var(--arial)
}
.font-swiss{
    font-family: var(--swiss)
}

.icon-menu{
    display: inline-flex;
    margin-left: auto;
    cursor: pointer;
    padding: 10px;
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    right: -20px;
    position: relative;
}
.icon-menu:hover,
.icon-notifications:hover{
    color: var(--primary);
    background: #ecf1f3;
    box-shadow: 0px 1px 1px #ddd;
}
.icon-notifications{
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    padding: 10px;
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
}
.icon-user{
    background-color: var(--grey);
    top: 7px;
    left: 7px;
    width: 30px;
    height: 24px;
    -webkit-mask: url(../images/login/user.svg) no-repeat center;
}
.icon-password{
    background-color: var(--grey);
    top: 7px;
    left: 12px;    
    width: 22px;
    height: 24px;
    -webkit-mask: url(../images/login/password.svg) no-repeat center;    
}
.icon-arrow{
    background-color: #fff;
    top: 9px;
    right: 17px;
    width: 22px;
    height: 24px;
    -webkit-mask: url(../images/login/arrow.svg) no-repeat center;
}
.icon-sent{
    background-color: #fff;
    top: calc(50% - 11px);
    right: 5px;
    width: 22px;
    height: 24px;
    -webkit-mask: url(../images/login/sent.svg) no-repeat center;
}


/* Upload */
.upload-simple {
    position: relative;
    width: 100%;
    height: 40px;
    cursor: pointer !important;
}

.upload-simple:after {
    content: attr(data-text);
    font: 14px var(--lucida);
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 80px);
    pointer-events: none;
    z-index: 3;
    height: 40px;
    line-height: 19px;
    color: var(--terciary);
    border-radius: 10px;
    font-weight: 300;
    border: 1px solid var(--grey);
    cursor: pointer;
}

.upload-simple:before {
    content: 'Subir';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 40px;
    background: var(--terciary);
    color: #fff;
    font: 12px var(--swiss);
    z-index: 10;
    line-height: 41px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 10px 10px 0;
    width: 90px;
    text-align: center;
    cursor: pointer;
}
.upload-simple:hover:before {
    background: var(--secondary);
}
.upload-simple-input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
  
.form-group-textarea,
.form-group-input{
    position: relative;
}

.form-textarea:focus,
.form-input:focus{
    border-color: var(--primary)
}
.form-input--is-icon{
    padding-left: 45px;    
}
.form-textarea{
    border: 1px solid var(--grey);
    padding: 7px 10px;
    border-radius: 10px;
    width: 100%;
    font: 15px var(--swiss);
    color: var(--terciary);
    transition: 0.4 ease;
    height: 80px;
    resize: none;
}
.form-input{
    border: 1px solid var(--grey);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font: 15px var(--swiss);
    color: var(--terciary);
    transition: 0.4 ease;
}
.form-input-icon,
.form-button-icon{ 
    position: absolute;    
    display: inline-block;
    -webkit-mask-size: cover;
}

.form-label{
    font: 14px var(--swiss);
    margin-bottom: 7px;
    display: inline-block;
    color: var(--terciary);
}

.formulario{
    width: 100%;
    position: relative;
}

.form-maxlength{
    font: 10px var(--lucida);
    color: var(--primary);
}

/* button */
.group-button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.button{
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
    padding: 7px;
    border: none;
    transition: all 0.5s ease;
    background-size: 200% auto;
    font: 14px var(--swiss);
    text-transform:uppercase;
    border-radius: 10px;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.button--is-large{
    width: auto !important;
    max-width: inherit !important;
}
.button-primary:active{
    bottom: -2px;
    box-shadow: 0 2px 0 var(--primary);
}
.button-primary:hover,
.button-secondary:hover,
.button-terciary:hover{
    background-position: right center;
    top: 2px;
} 
.button-primary:hover{
    box-shadow: 0 2px 0 var(--primary);
}
.button-secondary:hover{
    box-shadow: 0 2px 0 #ff8100;
}
.button-primary{
    color: #fff;
    background-image: linear-gradient(to right, var(--primary) 0%, #009ead 51%,var(--primary) 100%);
    box-shadow: 0 2px 0 var(--primary-black);
}
.button-secondary{
    color: #fff;    
    background-image: linear-gradient(to bottom right, #FFA549 0%, #FFA549  50%, #ff8100 100%);
    box-shadow: 0 2px 0 #bf6100;
}
.button-terciary{
    background: var(--skyblue);
    color: var(--terciary);
    box-shadow: 0 2px 0 var(--terciary);
    border: 1px solid var(--terciary);
}
.button-terciary:hover{
    background-color: #ecf4f7;
}
.button-content>.button{
    margin-left:    20px;
}
.button-content{
    margin-top: 20px;
    text-align: right;
}
.button-icon{
    margin-right: 4px;
}
.modal-content--is-small{
    width: 50% !important;
}

.button>.material-icons{
    margin-right: 5px;
}

/*Select*/
.form-group-select {
    position: relative;
    display: block;
    border: 1px solid #c4c4c4;
    border-radius: 11px;
    z-index: 2;
    min-width: 130px;
}
@media (max-width: 768px){
  .form-group-select{
    margin-top: 15px;
  }
}
.form-group-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 8px 55px 8px 15px;
  font-size: 15px;
  color: var(--terciary);
  font: 12px var(--swiss);
}

.form-group-select:after {
    position: absolute;
    right: 10px;
    top: 11px;
    width: 50px;
    height: 100%;
    content: "";
    text-align: center;
    z-index: -1;
    width:0px;
    height:0px;
    border-left:7px solid transparent; /* izquierda flecha */
    border-right:7px solid transparent; /* derecha flecha */
    border-top:10px solid var(--terciary); /* base flecha y color*/
    font-size:0px;
    line-height:0px;
}


.form-double{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    /* max-width: 320px; */
    margin-bottom: 20px;
}
.form-double-search{
    min-width: 160px;
    margin-right: 5px;
    width: calc(100% - 7px);
}
.form-double>.button{
    max-width: 70px;
    font-size: 11px;
    min-height: 34px;
    letter-spacing: 0px
}


/*table*/
.table-tbody-td,
.table-thead-td{
    padding: 10px;
    font:16px var(--swiss);
}
.table-tbody{
    border: 1px solid #00a2b2;
    border-top: none;
}
.table-thead{
    background: var(--skyblue);
    border-radius: 42px;
    border: 1px solid #00a2b2;
}
.table{
    width: 100%;
    border-radius: 34px;
    margin-bottom: 10px;
}


.modal-content{
    width: 70%;
    height: auto;
    position: fixed;
    background: rgba(255, 255, 255, 0.98);    
    transform: translate(-50%,-50%) scale(0);
    top: 50%;
    padding: 7px 15px 15px 15px;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 0 20px #b9b9b9;
    transition: all 1s ease;
    opacity: 0;
    z-index: -1;
}

.modal-content--is-open{
    transform: translate(-50%,-50%) scale(1) !important;
    opacity: 1 !important;
    z-index: 12 !important;
}

.modal--is-open #main{
    filter: blur(2px) !important;
}

.modal-content-icon--is-close:hover{
    color: var(--primary)
}
.modal-content-icon--is-close{
    font-size: 30px !important;
    color: var(--terciary);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.modal-content--is-close{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 20px;
}

.modal-head{
    padding-bottom: 20px;
}
.modal-head-title{
    font: 20px var(--arial);
    color: var(--primary);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 25px;
    position: relative;
}
.modal-head-title:before {
    content: '';
    width: 9px;
    height: 10px;
    background: var(--secondary);
    position: absolute;
    left: 0;
    top: 9px;
}
.modal-head-title:after {
    content: '';
    width: 9px;
    height: 15px;
    background: var(--terciary);
    position: absolute;
    left: 11px;
    top: 4px;
}
.modal-head-subtitle{
    font: 18px var(--lucida);
    color: var(--primary)
}
.modal-body{
}

/*Message Alert*/
.message--is-txt{
    display: inline-flex;
    align-items: center;
    font: 12px var(--lucida);
}
.message--is-icon{
    width: 20px;
    color: #fff;
    margin-right: 14px;
}
.message {
    display: flex;
    padding: 5px 15px;
    
    color: #fff;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
}
.message-alert{
    background: var(--error);
}
.message-success{
    background: var(--success);
}
.message-info{
    background: var(--info);
}



/*Radio y checkbox*/
.form-checkbox{
    display: flex;
    align-items: center;
}
.form-radio-input, .form-checkbox-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 0px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;     
    margin-right: 7px;
    outline: none;
}
.form-checkbox-input{
    border-radius: 3px;
}
.form-radio-input:checked::before, .form-checkbox-input:checked::before{
    position: absolute;
    font-size: 12px;
    left: 6px;
    top: 2px;
    content: '\02143';
    transform: rotate(40deg);
    color: var(--primary)
}
.form-radio-input:hover, .form-checkbox-input:hover{
    background-color: #ececec;
}
.form-radio-input:checked, .form-checkbox-input:checked {
    background-color: #ececec;
}
.form-radio-label,
.form-checkbox-label{
    font: 14px var(--swiss);
    color: var(--terciary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    padding-left: 7px;
}
.form-checkbox input[type][disabled]{
    background-color: #f9f9f9;
    color: #ddd;
    cursor: default;
}
.form-checkbox input[type][disabled] + .form-checkbox-label{
    color: #999;
    cursor: default;
}




/*Inbox table*/
.inbox{
    /* box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03); */
    border-width: 0;
    transition: all .2s;
    border-radius: 0 0 10px 10px;
    /* background-color: #fff; */
    position: relative;
}
.inbox-header{
    display:flex;
    margin-left: auto;
    justify-content: flex-end;
    padding: 0 0 15px 0;
    align-items: center;
}

.inbox-header-button:hover{
    background-color: #ffe4ca;
    border: 1px solid #ef9132;
    color: #ef9132;
}
.inbox-header-button--is-icon{
    margin-right:   5px;
}
.inbox-header-button{
    -webkit-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
    min-width: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font: 13px var(--lucida);
    color: var(--terciary);
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 1px 0px #a3a3a3;
    background: white;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #f3f3f3;
    padding: 0 8px;
}

.inbox-body{
    background-color: #fff;    
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.inbox-header-button--is-send{    
    background: var(--primary);        
    border-color: var(--primary);        
    color: white;        
    box-shadow: none;
}
@media (max-width:768px){
  .inbox-header-button--is-send{    
    height: 60px!important;
    font-size: 16px;
  }
}
.inbox-table{    
}
.inbox-table-thead{
    background: #00b7c840;
    border-bottom: 1px solid #ececec;
    color: var(--terciary);
    padding: 41px;
    /* box-shadow: inset 0 -1px 0 #ffffff; */
}
.inbox-table-thead-tr{
    padding: 10px;
}
.inbox-table-thead-td:last-child{
    width: 50px !important
}
.inbox-table-thead-td:not(:first-child){
    border-left: 1px solid var(--primary);
}
.inbox-table-thead-td{
    padding: 10px;
    font: 14px var(--swiss);
    vertical-align: middle;
    text-align: center;    
}
.inbox-table-thead-td:not(:first-child){
    box-shadow: inset 1px 0px 0 #ebfeff;
}
.inbox-table-tbody{

}
.inbox-table-odd{
    background: #f7f7f7;
}
.inbox-table-even{
    background: #fff;
}
.inbox-table-tbody-td:last-child{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.inbox-table-tbody-td{
    padding: 15px 10px;
    vertical-align: middle;
    font: 14px var(--swiss);
    /* border-left: 1px solid #ddd; */
}
.button-inbox>.material-icons{
    margin-right:10px;
}
.button-inbox:hover{
    background: var(--primary);
    color:  #fff
}
.button-inbox{
    text-transform: uppercase;
    margin-right: auto;
    cursor:pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px 10px;
    height: 100%;
    min-width: 140px;
    border-right: 1px solid var(--primary);
    box-shadow: inset 1px 1px 0 var(--primary), inset 0px -1px 0 var(--primary);
    color: var(--primary);
    font: 12px var(--arial);
    letter-spacing: 2px;
    background: #f6f9fa;
    text-transform: uppercase;
}
.inbox-header-main_button{
    margin: 0px auto 0px 0px;
    display: inline-flex;
    justify-content: center;
    width: auto;
    max-width: inherit;
}
.inbox-table-details{
    visibility: hidden;
    opacity: 0;
}
.inbox-table-details:not(.inbox-table-details--is-open){
    display: none;
}
.inbox-table-details--is-open{
    transition: all .7s ease;
    opacity: 1;
    visibility: visible;
}
.inbox-table-details-td{
    padding: 0 60px 20px 75px;
}
.table-details{
}
.table-details-thead-tr{
    background: var(--cuaterciary);
    color: #fff;
    box-shadow: inset 0 0 3px #8f8f94;
}
.table-details-tbody-tr:nth-child(odd){
    background: #fff;
}
.table-details-tbody-tr:nth-child(even){
    background: #efefef;
}
.table-details-tbody-td,
.table-details-thead-td{
    padding: 10px;
    font: 12px var(--swiss);
    color: var(--terciary);
    box-shadow: inset 1px 0px 0 #c8c8c8;
    border-left: 1px solid #fff;
}
.table-details-tbody-td:last-child{
    box-shadow: inset -1px 0px 0 #c8c8c8;
    text-align: center;
}
.table-icons--is-icon:hover{
    color: var(--secondary)
}
.table-icons--is-icon{
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
}
.table-icons{
    display:inline-flex;
    align-content: center;
    justify-content: center;
    width: 60px;
}

.inbox-header-renove{
    display: inline-flex;
    align-items: center;
    color: #d85555;
    padding-right: 10px;
    font: 12px var(--lucida);
}

.inbox-table-dropdown:hover{
    color: var(--primary)
}
.inbox-table-dropdown{
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: -8px;
    font-size: 23px !important;
    color: var(--terciary);
    transform: rotate(-90deg);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.inbox-table-dropdown--is-open{
    transform: rotate(0deg);
    color: var(--primary); 
}
.table-options{
    position: relative;
    text-align: center;
}
.table-options-ul--is-open{
    transform: scale(1) !important;
    opacity: 1 !important;
    z-index: 5;
}
.table-options-ul{
    transition: all .3s ease;
    opacity: 0;
    transform: scale(0);
    transform-origin: right top;
    position: absolute;
    top: 38px;
    right: 28px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 4px #e0e0e0;
    padding: 9px 7px;
    width: auto;
}
.table-options-li:first-child{
    padding-top: 0;
}
.table-options-li:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.table-options-li:hover{
    color: var(--secondary);
}
.table-options-li:hover .table-options-li--is-icon{
    color: var(--secondary);
}
.table-options-li--is-icon{
    color: var(--primary);
    margin-right: 8px;
}
.table-options-li{
    color: var(--primary);
    padding: 10px 15px;
    padding-left:   5px !important;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
    flex-wrap: nowrap;
    display: block;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}


/*Calendar*/
.form-calendars{
    position: relative;
}
.form-calendars--is-icon {
    font-size: 20px !important;
    position: absolute;
    top: 7px;
    right: 4px;
    color: #555;
}

.message-inline--is-error{
    background: var(--error);
}.message-inline--is-success{
    background: var(--success);
}.message-inline--is-info{
    background: var(--info);
}
.message-inline{
    padding: 20px;
    border-radius: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.message-inline-icon{
    margin-right: 10px;
    color: white
}
.message-inline-text{
    font: 16px var(--lucida);
    color: white;
}

.boxcard{
    padding: 20px;
}
.boxcard-title {
    font: 22px var(--arial);
    color: var(--primary);
    margin-bottom: 20px;
    text-transform: uppercase;
}
.boxcard>p>strong,
.boxcard>p>span{
    font-weight: bold;
    color: var(--secondary)
}
.boxcard-subtitle>li:after{
    content: '';
    position: absolute;
    left: -3px;
    top: 8px;
    width: 4px;
    height: 4px;
    background: var(--secondary);
    border-radius: 50%
}
.boxcard-subtitle>li{
    padding-left: 10px;
    position: relative;
}
.boxcard-subtitle>li,
.boxcard-subtitle>p,
.boxcard>p{
    margin-bottom: 10px;
    font: 16px var(--swiss);
    text-align: justify;
    color: var(--terciary);
    display: flex;
    align-items: center;
}
.boxcard-title strong,
.boxcard-title span{
    font-weight: bold;
    color: var(--secondary);
}


.boxcard-subtitle span,
.boxcard-subtitle strong {
    font-family: var(--swiss);
    color: var(--primary);
}
.boxcard-subtitle{
    margin-top: 20px;
    margin-bottom: 10px;
    border-left: 7px solid var(--primary);
    padding: 4px 4px 4px 15px
}

.modal--is-open wc-modal-bg{
    opacity: 1;
    visibility: visible;
    z-index: 3
}
wc-modal-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #9d9898d6;
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    cursor: not-allowed;
}

.alert{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #0000009e;
    z-index: 10;
    top: 0;
    left: 0;
}
.alert-content-icon{
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    background: #fff;
    box-shadow: 0 0 0 2px #fff, 0 0 0 7px #ffc744;
    top: -50px;
    position: absolute;
    left: calc(50% - 50px);
}
.alert-content{
    min-width: 410px;
    height: auto;
    position: fixed;
    background: rgba(255, 255, 255, 0.98);
    transform: translate(-50%,-50%) scale(0);
    top: 50%;
    padding: 30px;
    padding-top: 70px;
    left: 50%;
    border-radius: 20px;
    transition: all 1s ease;    
    border-top-style: solid;
    border-top-width: 7px;
}
.modal--is-open .alert-content{
    transform: translate(-50%,-50%) scale(1) !important;
    opacity: 1 !important;
    z-index: 9 !important;
}

.alert-content-title{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font: 20px var(--arial);
    text-transform: uppercase;
}
.alert-content-desc{
    font: 12px var(--lucida);
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}
.alert-content-button{
    display: flex;
    justify-content: space-between;
}

.alert--is-info .alert-content-icon{
    border-color: var(--info);
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px var(--info);
}
.alert--is-info .alert-content-title{
    color: var(--info)
}
.alert--is-info .alert-content{
    border-color: var(--info);
}

.alert--is-success .alert-content-icon{
    border-color: var(--success);
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px var(--success);
}
.alert--is-success .alert-content-title{
    color: var(--success)
}
.alert--is-success .alert-content{
    border-color: var(--success);
}

.alert--is-error .alert-content-icon{
    border-color: var(--error);
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px var(--error);
}
.alert--is-error .alert-content-title{
    color: var(--error)
}
.alert--is-error .alert-content{
    border-color: var(--error);
}
@media screen and (max-width: 768px){
    .modal-content--is-small{
        width: 100% !important;
        top: 62%!important;
    }
    
    .button-content{
        text-align: center;
    }
    
    .button-content button{
        margin-bottom: 15px;
        max-width: 100%;
        height: 45px;
        margin-left: 0px !important;
    }
    
    .bienvenido-section {
        padding: 20px;
    }
    
    .modal-content{
        height: 90vh;
    }
    .formulario {
        width: 100%;
        position: relative;
        overflow: auto;
        height: 100%;
        width: 100%;
        padding-right: 10px;
    }
    
    .modal-content-profesional {
        top: 144%!important;
    }
    
    .inbox-header{
        display: block;
    }
    
    .inbox-header div{
        width: 100%;
    }
    
    .inbox-header-button{
        padding-top: 17px;
        padding-bottom: 17px;
    }
    
    .form-group-select select{
        font-size: 16px;
        margin-top: 5px;
    }
    
    .form-label{
        font-size: 16px;
        margin-top: 4px;
    }
    
    .inbox-table-thead-td, .inbox-table-tbody-td {
        font-size: 16px;
    }
    .boxcard>p{      
        display: block;      
    }
    
    .table-details-tbody-td,
    .table-details-thead-td{
        font-size: 14px;
    }
    .form-double-search{
        min-width: 160px;
    }

   
}

@media screen and (max-width: 800px) and (min-width: 600px){
    .form-double-search+.button:after{
        content: "\002315";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 29px;
        color: var(--terciary);
        z-index: 2;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }
    .form-double-search+.button{
        position: relative;
        width: 30px;
        color: transparent;        
    }
}
@media screen and (max-width: 560px){

    
    .icon-menu,
    .icon-notification{
        font-size: 17px !important;
        display: inline-flex !important;
        justify-content: center !important;
    }
    .icon-menu{
        right: -7px;
    }
    .cabecera-title{
        margin-left: 10px;
    }
    .cabecera-title{
        font-size: 12px
    }
    .cabecera-icons{
        padding-right: 5px !important;
    }
    .perfil-nombre,
    .perfil-nombre+i,
    .perfil-nombre>strong{
        display: none
    }

    .form-double{
        display: block;
        max-width: 100%;
    }
    .form-double-search{
        max-width: 100%;
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
   
    .form-double-search+.button{
        max-width: 100%;
        width: 100%;
        min-width: 100%;        
    }
}