/*
 * Fuentes
 * @author mfyance
 */


@font-face {
    font-family: 'ArialRounded';
    src: url('../fonts/ArialRoundedMTExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Lucida';
    src: url('../fonts/LucidaSansItalic.woff') format('woff');
}

@font-face {
    font-family: 'Swiss';
    src: url('../fonts/Swiss721LightBT.woff') format('woff');
}