.upload-multiple{
    position: relative;
    width: 100%;
    z-index: 2;
    width: 100%
}

.upload-multiple .inputs input{
    display: none;
}

.upload-multiple .uploadCaption{
    border: 2px dashed var(--secondary-black);
    -webkit-border-radius: 7px;
    padding: 20px;
    color: var(--secondary);
    text-align: center;
    background: #f6f5ef;
}

.upload-multiple .uploadCaption:hover{
    cursor: pointer;
}

.upload-multiple .link{
    text-decoration: underline;
    font-weight: bold;
}

.upload-multiple .subcaption{
    font-size: 10px;
    margin: 0;
    text-indent: 10px;
    font: 11px var(--lucida);
    color: var(--terciary);
    padding-top: 5px;
}

.upload-multiple .uploadQueue{
    margin: 10px 0;
}

.upload-multiple .progressBar{
    width: 100%;
    height: 7px;
    background-color: #eaeaea;
    float: left;
    margin-bottom: 10px;
}

.upload-multiple .bar{
    background-color: var(--primary);
    width: 0;
    height: 7px;
}

.upload-multiple .queueItem.simulatedProgress .bar{
    -webkit-animation: progressAnimator 3s linear forwards;
    -moz-animation: progressAnimator 3s linear forwards;
    -ms-animation: progressAnimator 3s linear forwards;
    -o-animation: progressAnimator 3s linear forwards;
    animation: progressAnimator 3s linear forwards;
}

@-webkit-keyframes progressAnimator{
    from{width: 0%;}
    to{width: 100%;}    
}

@-moz-keyframes progressAnimator{
    from{width: 0%;}
    to{width: 100%;}    
}

@-ms-keyframes progressAnimator{
    from{width: 0%;}
    to{width: 100%;}    
}

@-o-keyframes progressAnimator{
    from{width: 0%;}
    to{width: 100%;}    
}

@keyframes progressAnimator{
    from{width: 0%;}
    to{width: 100%;}    
}

.upload-multiple .queueItem.resolved .progressBar{
    display: none;
}

.success-txt, 
.error-txt{
    font: 12px var(--swiss);
    padding-left: 0;
    position: relative;
}

.error-txt{
    color: var(--error);
}

.success-txt{
    color: var(--success);
}
.success-txt:after{
     font-family: 'Material Icons';
     content: "done_outline";
     position: absolute;
     top: calc(50% - 6px);
     left: 10px;
}

.upload-table .inbox-table-tbody-td:last-child{
    text-align: center;
}

.upload-table{
    padding-left: 30px;
}