.rclave-section {
	position: relative;
	margin-top: 120px;
	margin-left: 20px;
	padding: 10px;
}
@media (min-width: 768px){
  .rclave-section {
		margin-left: 340px;
  }
}
.rclave-title {
	font: 24px var(--arial);
	margin-bottom: 10px;
	display: inline-block;
	color: var(--terciary);
	text-transform: capitalize;
	display: block;
}
@media (min-width: 768px){
  .rclave-title {
		margin-left: 100px;
  }
}
.rclave-label{
	font: 14px var(--swiss);
	display: block;
	text-transform: uppercase;
}
.rclave-input {
	margin-bottom: 20px;
	width: 300px;	
	border: 1px solid var(--grey);
	padding: 10px;
	border-top: none;
	border-left: none;
	border-right: none;
}
@media (min-width: 768px){
  .rclave-input {
		width: 500px;
  }
}
.nuevaclave-section-p {
	color: var(--primary-black);
	margin-bottom: 10px;
	width: 350px;
}
@media (min-width: 768px){
  .nuevaclave-section-p {
		width: 100%;
  }
}
.nuevaclave-form-span {
	display: block;
	width: 30px;
	font-size: 12px;
	margin-left: 260px;
	margin-top: -15px;
	background: var(--grey);
}
@media (min-width: 768px){
  .nuevaclave-form-span {
		margin-left: 460px;
  }
}
.rclave-boton {
	margin-left: -70px;
	margin-top: 30px;
}
@media (min-width: 768px){
  .rclave-boton {
		margin-left: 220px;
		margin-top: 30px;
  }
}
.rclave-boton button{
	display: block;
	max-width: 250px;
	height: 50px;
	margin-top: 10px;
}
@media (min-width: 768px){
  .rclave-boton button{
			display: inline;
			max-width: 150px;
			height: auto;
  }
}