#mainRegister,
#mainLogin{   
    transition: all .3s ease;
}

#mainRegister{
    display: none    
}
.is--register #mainRegister{
    transform: scale(1);
    opacity: 1;
}
.is--register #mainLogin{
    transform: scale(0);
    opacity: 0;
    
}
.login-volver:hover{
    color: var(--secondary)
}
.login-volver{
    cursor: pointer;    
    position: absolute;
    top: -20px;
    left: 110px;
    display: inline-flex;
    align-items: center;
    color: var(--terciary);
    font: 15px var(--lucida);
}

.layout{
    width: 100%;
    max-width: var(--layout-maximo);
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 3
}

.mobile .layout{
    padding: 0 15px;
}
.required,
.important{
    color: var(--error);
    font: 12px var(--arial);
    padding-left: 2px;
    padding-right: 3px;
    position: relative;
    top: -3px;
}
.login-main{
    width:100%;
    display: flex;
    min-height: 100vh;
    height: 100%;
    background-color: #fff;
    position: relative;
    padding-top: 50px;
}   
.login-logo{
    max-width: 70px;
    position: relative;
}
.login-font-h1{
    font-size: 17px;
    padding-top: 85px;
    margin-left: 20px;
}
.login-font-h2{
    font-size: 18px;
}


.login-body{
    display: block;
    width: 100%;
}
.login-illustration{
    display: block;
}

.login-font-h1 .letter {
    display: inline-block;
    line-height: 1em;
}

.login-header{
    width: 100%;
    height: auto;
    max-height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-menu{
    display: flex;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 5;
}
.login-menu-li:hover{
    color: var(--secondary)
}
.login-menu-li{
    padding-left: 20px;
    font: 16px var(--swiss);
    color: var(--terciary);
    cursor: pointer;
    transition: all .3s ease
}
.navegadores{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
.mobile .navegadores{
    display: none
}
.navegadores-logos{
    max-width: 140px;
}
.navegadores-texto{
    font: 12px var(--lucida);
    color: #fff;
    max-width: 135px;
    text-align: right;
    margin-bottom: 5px;
}
.login-recuperar{
    text-align: center;
    border-top: 1px solid #ffffff;
    padding-top: 6px;
    margin-top: 20px;
    box-shadow: 0px -1px 0 #e2e1e1;
    display: flex;
    justify-content: space-between;
}
.login-recuperar-txt:hover{
    color: var(--secondary)
}
.login-recuperar-txt{
    display: inline-block;
    color: var(--primary);
    font: 13px var(--lucida);
    transition: all .3s ease
}

.login-formulario{
    padding: 30px;
    background: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 20px #b9b9b9;
    width: 100%;
    max-width: 420px;
    padding-bottom: 10px;
}
.button-primary--is-login{
    padding: 12px;
    min-width: 180px;
}

.form-input--is-login{
    padding: 10px !important;
    padding-left: 40px !important;
}
.form-input-login{
    padding-left: 0 !important;
}

.login-font-h1{
    font-size: 27px;
}
.login-font-h2{
    font-size: 22px;
}

.login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: 30px;
    z-index: 2;
}
.login-illustration{
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
}
.login-detail{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -70PX;
    width: 390PX;
    height: 217px;
    z-index: 0;
}
.login-base{           
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: -70PX;
  height: 260px;
  width: 500PX;
  z-index: 0;     
}
.login-informa{
    max-width: 420px;
    text-align: center;
}

.login-informa-logo{
    width: 100%;
    max-width: 250px;
}

.mobile .login-informa-logo{
    max-width: 180px;
}

.register-options{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center
}
.register-options-box{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}
.register-content{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    background-image: linear-gradient(transparent 0px, transparent 1.25208px, #effeff 1.25208px, #effeff 12.5208px), linear-gradient(to right, #e1e1e1 0px, #e1e1e1 1.25208px, #effeff 1.25208px, #effeff 12.5208px);
    background-position: 104.413px 20.4375px;
    background-size: 12.5208px 12.5208px;
    background-color: #fff;
}
.register-options-title:before {
    content: '';
    width: 9px;
    height: 10px;
    background: var(--secondary);
    position: absolute;
    left: 0;
    top: 9px;
}
.register-options-title:after {
    content: '';
    width: 9px;
    height: 15px;
    background: var(--terciary);
    position: absolute;
    left: 11px;
    top: 4px;
}
.register-options-title{
    position: relative;
    font: 20px var(--arial);
    text-transform: uppercase;
    color: var(--terciary);
    letter-spacing: 2px;
    padding-left: 40px;
    display: inline-block;
    margin-bottom: 15px;
}
.register-options-subtitle{
    font: 15px var(--lucida);
    color: var(--terciary);
    margin-bottom: 15px;
}
.register-options-img{
    width: 100%;
    max-width: 135px;
    margin: 13px auto;
    height: 150px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .login-formulario{
        padding: 20px;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .login-illustration{
        display: none
    }
    .login-body{
        width: 100%;
        padding-right: 0;
    }
    .login-informa,
    .login-formulario{
        max-width: 100%;
    }
    
}

@media screen and (max-width: 680px) {
    
    .register-options{
        flex-direction: column;
        display: block;
        padding-top: 120px;
    }  
    .register-options-box{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .login-formulario{
        padding: 10px;
    }
}