.visar{
	display: flex;
	width: 100%;
}

.visar-datos{
	width: 60%;

}
.visar-preview{
	width: 40%;
	padding-left: 30px;
}

.visar-title{
	font: 14px var(--swiss);
	color: var(--terciary)
}
.visar-detail{
	font: 12px var(--lucida);
	color: var(--terciary)
}


.checks-content{
	margin-top: 20px;
}
.checks-content-li{
	position: relative;
	padding-right: 20px;
	padding: 10px 20px 10px 10px;
}

.checks-content-checkbox{
	position: absolute;
	top: calc(50% - 11px);
	right: 6px;
}

.checks-content-li:nth-child(even){
	background: #fff7e7;
}
.checks-content-li:nth-child(odd){
	background: #daecec;
}