.archivos-content{
	  max-width: 1000px;
		background-color: #fff;
		padding: 5px;
}
.inbox-header--is-filter{
		display: block;
		padding: 10px 10px 30px 20px;
}
.archivos-div-label{
		text-transform: none;
		min-width: 180px;
}
.archivos-div-input{
		width: 780px;
}
.archivos-subir-texto{
		display: flex;
		margin-bottom: 10px;
}
.archivos-subir-texto p{
		margin-right: 30px;
}
.archivos-subir-cuadros{
		display: flex;
		padding-bottom: 20px;
		border-bottom: 2px solid #00b7c8;
}
.archivos-subir-arrastre{
		width: 650px;
		height: 80px;
		background-color: #ececec;
		border: 2px dotted #c5c5c5;
		margin-right: 10px;
		text-align: center;
		padding: 15px;
}
.archivos-subir-texto-p2{
		color: #a00c0c;
}
.archivos-subir-texto-div{
		display: flex;
		color: #a00c0c;
}
.archivos-subir-arrastre-p1{
		color: #e6de17;
}
.archivos-subir-arrastre-p1 span{
		text-transform: uppercase;
		font-weight: bold;
}
.archivos-subir-arrastre-p2{
		color: #c4c4c4;
}
.archivos-mostrar-div2-p1{
		text-transform: uppercase;
		font-family: var(--swiss);
}
.archivos-mostrar-div2-p2{
		font-size: 12px;
		color: #c4c4c4;
}
.archivos-mostrar{
		display: flex;		
		margin-top: 15px;
}
.archivos-mostrar-div1{
		border: 2px solid #185212e6;
		background-color: #185212e6;
		color: #ffffff;
		width: 50px;
		height: 50px;
		text-align: center;
		padding: 10px 2px;
}
.archivos-mostrar-div2{
		display: flex;
		justify-content: space-between;
		border: 2px solid #185212e6;
		background-color: #ffffff;
		width: 300px;
		height: 50px;
		padding: 3px;
}
.archivos-agregar{
		background-color: #6d8cef;
		color: #ffffff;
		border: none;
		margin: 14px 0px 0px 30px;
		height: 50px;
		width: 150px;
}
.archivos-agregar p{
		font: 16px var(--lucida);
}
.archivos-table{
		margin-top: 20px;
		width: 90%;
		margin-left: 15px;
}
.archivos-button-siguiente{
		background-color: #6d8cef;
		color: #ffffff;
		border: none;
		margin: 14px 30px 0px 30px;
		height: 50px;
		width: 180px;
}
.archivos-button-siguiente p{
		font: 16px var(--lucida);
}
.archivos-button-cancelar{
		margin: 14px 30px 0px 30px;
		height: 50px;
		width: 150px;
}
.archivos-button-cancelar p{
	font: 16px var(--lucida);
}
.archivos-icons-delete{
		color: #666666;
}
.inbox-table-tbody-td{
		vertical-align: top!important;
}
.inbox-table-tbody-td:last-child {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
@media (max-width: 768px){
	.archivos-content{
		padding: 0px;
	}
	.inbox-header--is-filter{
		padding: 10px 10px 30px 0px;
	}
	.inbox-header--is-filter div{
		margin-top: 10px;
	}
	.archivos-div-label{
			width: 280px;
			margin-left: 10px;
	}
	.archivos-div-label-titulo{
			margin-left: 0px;
			margin-bottom: -10px;
	}
	.archivos-subir-texto{
			display: block;
			margin-left: 10px;
	}	
	.archivos-div-input{
			width: 280px;
	}
	.form-input, .form-group-select{
			height: 50px;
			font-size: 16px;
	}
	.archivos-subir-cuadros{
			display: block;
			padding: 8px;
	}
	.archivos-subir-arrastre{
		width: 100%;
		font-size: 14px;
	}
	.archivos-agregar{
		margin: 14px 0px 0px 90px;
	}
	.archivos-button-siguiente{
		width: 80%!important;
	}
	.archivos-button-cancelar{
		width: 80%!important;
		margin-top: 40px;
	}
}

@media (min-width: 768px){  
	.inbox-header--is-filter {    
		display: inline-flex;
    padding: 20px;
    align-items: center;  
  }
}
