.inbox-header--is-filter{
		display: block;
		padding: 10px 10px 30px 20px;
}

.form-calendars{
		display: flex;
    justify-content: center;
    align-items: center;
}
.form-calendars--is-one{
		position: relative;
}
.form-calendars--is-two{
		position: relative;
		margin-left: 10px;
		margin-right: 10px;
}
.button--is-filter{
		display: block;
		max-width: 350px;
		height: 40px;
		margin-top: 10px;	
}

.inbox-table-tbody-td:last-child {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
@media (max-width: 768px){
	.inbox-header--is-filter div{
		margin-top: 10px;
	}
	.form-input, .form-group-select{
			height: 50px;
			font-size: 16px;
	}
	.reporte-estado{
		margin-left: 10px;
		font-size: 16px;
	}
	.button--is-filter {
		height: 60px;
	}
}

@media (min-width: 768px){
  .button--is-filter{
			display: inline;
			max-width: 150px;
			height: auto;			
			margin-right: 10px;
			max-height: 40px !important;
	    max-width: 100px !important;
			margin-top: 18px !important;
  }
	.inbox-header--is-filter {    
		display: inline-flex;
    padding: 20px;
    align-items: center;  
  }
}
