.chart-content{
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 20px;
}
.chart{
	font: 26px var(--arial);
	color: var(--terciary)
}
.steps:after{
	content: '';
	position: absolute;
	top: 0;
	left: 20px;
	width: 2px;
	height: 100%;
	background: #d7d7d7;
	z-index: 1;
}
.steps{
	position: relative;
	/* background: #fff; */
}

.steps-block{
	position: relative;
	z-index: 2;
	/* box-shadow: 0 2px 0 #e4e4e4; */
}


.step-circle:after{
	content: attr(data-number);
}
.step-circle{
	border-radius: 50%;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 16px;
	left: 10px;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: flex;
	justify-content: center;
	align-content: center;
	border: 1px solid #d9d9d9;
	background: #fff;
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ccc;
	font: 12px var(--lucida);
	text-align: center;
	align-items: center;

}
.step-title:after{
	content: '';
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #fff2df;
	position: absolute;
	top: 19px;
	left: -7px;
}
.active .step-title:after,
.step-title:hover:after{	
	border-right: 8px solid #ffe3ba;
}
.step-title:hover{
	background: #ffe3ba;
}
.step-title{
	position: relative;
	background: #fff2e1;
	padding: 20px 10px;
	font: 12px var(--arial);
	color: var(--terciary);
	box-shadow: inset 0 -1px 0 #f4e2c8, inset 0 -2px 0 #fff;
	border-radius: 7px;
	cursor: pointer;
}
.step-content{
	padding-left: 44px;
	position: relative;
	margin-bottom: 10px;
}
.step-slidedown{
	position: absolute;
	top: 50%;
	right: 10px;
	cursor: pointer;
	transform: translate(0, -50%);
	color: #e88d2f;
	z-index: 2;
}
.step-info{
	padding: 20px;
	background: #ffffff;
	margin-bottom: 20px;
	display: none;
	border-radius: 0 0 7px 7px;
	border: 1px solid #f6e9d5;
	border-top: none;
}

.active .step-info{
	display: block;
}
.active .step-title{
	border-radius: 7px 7px 0 0;
	background: #ffe3ba;
}

.success .step-circle{
	border: 1px solid var(--success);
	background: var(--success);
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--success);
	color: white;
}
.success .step-circle:after{
	font-family: "Material Icons";
	content: "done";
}

.error .step-circle{
	border: 1px solid var(--error);
	background: var(--error);
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--error);
	color: white;
}
.error .step-circle:after{
	font-family: "Material Icons";
	content: 'clear';	
}

.step-slidedown:after{
	font-family: 'Material Icons';
	content: 'keyboard_arrow_down';
	font-size: 22px;
}
.active .step-slidedown:after{
	content: 'keyboard_arrow_up';
}