

.dni-personas{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.persona-delete{
    cursor: pointer;
    color: var(--terciary)
}
.persona-delete:hover{
    color: var(--secondary)
}