.resumen-content{
	display: flex;
}

.resumen-foto{
	width: auto;
	padding-right: 30px;
}
.resumen-datos{
	width: calc(100% - 80px)
}
.resumen-foto--is-img{
	width: 80px !important;
	height: 80px !important;
}

.resumen-title{
	font: 20px var(--arial);
	color: var(--terciary);
	text-transform: uppercase;
	padding-bottom: 7px;
}
.resumen-subtitle{
	color: var(--terciary);
	font: 18px var(--swiss);
}
.resumen-subtitle--is-detail{
	color: var(--terciary);
	font: 16px var(--lucida);
}
.resumen-datos{
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
}
.resumen-subtitle--is-txt:after{
	content: "";
	position: absolute;
	top: 7px;
	left: -3px;
	width: 10px;
	height: 10px;
	background: #00b6c8;
	border-radius: 3px;
}
.resumen-subtitle--is-txt{
	padding-left: 20px;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.resumen-edit:hover{
	transform: scale(1.2,1.2);
	color: var(--primary);
}
.box-content:hover .resumen-edit{
	opacity: 1
}
.resumen-edit{
	opacity: 0.2;
	color: var(--terciary);
	position: absolute;
	top: 2px;
	right: 0;
	cursor: pointer;
	transition: all .3s ease
}
