.confirmar {
    display: flex;
    width: 100%;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.confirmar-opcion-icon img{
    max-width: 80px;
}
.confirmar-opcion-icon{
    width: 150px;
    height: 134px;
    display: inline-flex;
    justify-content: center;
}
.confirmar-opcion{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.confirmar-opcion-text p{
    font-size: 17px;
    color: var(--terciary);
}
.confirmar-opcion-text p:first-child{
    font-family: var(--swiss);
    font-weight: bold;
    letter-spacing: 2px;
}
.confirmar-opcion-text p:last-child{
    font-family: var(--lucida);
}
.confirmar-opcion-text{text-align: center;margin-bottom: 30px;}