.confirmar-medio {
    display: flex;
    width: 100%;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px
}
.confirmar-medio-icon{
    max-width: 200px;
    margin-right: 50px;
}
.confirmar-medio-mensaje{
    width: calc(100% - 200px)
}

.confirmar-medio-mensaje p{
    margin-bottom: 20px;
    color: var(--terciary)
}


.confirmar-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    width: 100%;
    margin-right: 50px;
}